:root {
  --naContainer: #233142;
  --primaryColor: #fff;
  --navColor1: #21292c;
  --navColor2: #aa3e39;
  --navColor3: #aa6e39;
  --navColor4: #236267;
  --navColor5: #2c8437;
}

/* General reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

button {
  all: unset;
}

ul[class] {
  list-style: none;
}

/* General styles for body */
body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-height: 100svh;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Header */
header.nav {
  position: fixed;
  top: 0%;
  z-index: 2;
  width: 100%;
  background-color: var(--naContainer);
}

.nav_container {
  display: flex;
  justify-content: space-around;
  width: min(100% - 2rem, 65rem);
  margin-inline: auto;
  padding-block: 1rem;
}
.nav_container > * {
  flex-grow: 1;
}

/* Menu */
.page-nav {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--primaryColor);
}
.page-nav > * {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.5rem, 3vh, 3rem);
}
.page-nav > * a {
  text-decoration: none;
  color: var(--primaryColor);
  text-transform: uppercase;
}
.page-nav li {
  position: relative;
  transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.page-nav li::before {
  content: "";
  position: absolute;
  left: 10%;
  width: 15%;
  height: 5px;
  max-width: 160px;
  background-color: var(--primaryColor);
  transform: scale(0);
  transition: transform 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
.page-nav li:hover::before {
  transform: scale(1);
}
.page-nav li:nth-child(1) {
  background-color: var(--navColor1);
  transition-delay: 0.1s;
}
.page-nav li:nth-child(2) {
  background-color: var(--navColor2);
  transition-delay: 0.2s;
}
.page-nav li:nth-child(3) {
  background-color: var(--navColor3);
  transition-delay: 0.3s;
}
.page-nav li:nth-child(4) {
  background-color: var(--navColor4);
  transition-delay: 0.4s;
}

/* Button */
.button__background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin-inline-start: auto;
  border-radius: 100vh;
  background: var(--navColor2);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}
.button__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16px;
  height: 16px;
  padding: 4px;
  transition: transform 0.4s;
}
.button__container span {
  width: 100%;
  height: 0.25rem;
  border-radius: 0.125rem;
  background-color: var(--navColor1);
  box-shadow: 0 0.5px 2px 0 hsla(0, 0%, 0%, 0.2);
  transition: width 0.4s, transform 0.4s, background-color 0.4s;
}
.button__container span:nth-child(1) {
  width: 75%;
}
.button__container span:nth-child(2) {
  width: 50%;
}
.button__container:focus-within, .button__container:hover {
  transform: rotate(-90deg);
}
.button__container:focus-within span, .button__container:hover span {
  width: 0.25rem;
  transform: translateX(10px);
  background-color: var(--primaryColor);
}

/* Logo */
.logo-text {
  color: var(--primaryColor);
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Sections */
.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--primaryColor);
  z-index: 1;
}
.section--section1 {
  background-color: var(--navColor1);
}
.section--section2 {
  background-color: var(--navColor2);
}
.section--section3 {
  background-color: var(--navColor3);
}
.section--section4 {
  background-color: var(--navColor4);
}
.section--section5 {
  background-color: var(--navColor5);
}

/* Utility classes */
.moveToTop {
  transform: translateX(-100%);
}

/*# sourceMappingURL=style.css.map */
